HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Large binary files ###
*.tar
*.zip
*.DS_Store
docker/images/
docker/elastic\ stack/elasticsearch/data/
docker/elastic\ stack/elasticsearch/logs/
docker/elastic\ stack/elasticsearch/node*/
docker/elastic\ stack/elasticsearch/certs/ca/
docker/elastic\ stack/elasticsearch/certs/es-node-*/
docker/elastic\ stack/elasticsearch/certs/*.zip
